.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    text-transform: uppercase;
}
a {
    width: 160px;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}