.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    text-transform: uppercase;
}
a {
    text-align: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 768px){
   a {
    font-size: 14px;
   }
}